---
import Layout from "../../layouts/Layout.astro";

type Project = {
  project_title: string;
  site_url: string;
  github_url: string;
  date: string;
  description: string;
  image?: string;
  technical_details: string;
};

const projectDetails = [
  {
    project_title: "Blackball",
    site_url: "https://jeremyarde.github.io/blackballgame/",
    github_url: "https://github.com/jeremyarde/blackballgame",
    date: "2024-03 - 2024-12",
    description:
      "A card game similar to hearts. Players are dealt cards and bid on how many hands they can win.",
    image: "src/screenshots/bbgame.png",
    technical_details:
      "Website built with Dioxus (Rust UI framework). Server built with in Rust (axum, tokio). Website connects to the server via websocket, server handles game logic, syncing between players and validates moves.",
  },
];
---

<Layout>
  <div class="flex flex-col items-center max-w-6xl">
    <h1 class="pt-16 pb-6 text-2xl title">projects</h1>
    <ul class="flex flex-col gap-8 w-full">
      {
        projectDetails.map((project: Project) => (
          <li class="flex flex-row gap-8 items-start">
            <div class="flex flex-col flex-1">
              <h2 class="text-xl font-bold text-left">
                {project.project_title}
              </h2>
              <p class="text-left text-wrap mt-2">{project.description}</p>
              <h3 class="text-left font-semibold pt-4">Technology</h3>
              <p class="text-left text-wrap pt-2 text-sm text-gray-600">
                {project.technical_details}
              </p>
              <div class="flex flex-row gap-4 pt-4">
                {project.site_url && (
                  <a
                    class=" hover:text-blue-800 underline"
                    href={project.site_url}
                  >
                    website
                  </a>
                )}
                <a
                  class=" hover:text-blue-800 underline"
                  href={project.github_url}
                >
                  github
                </a>
              </div>
            </div>
            <div class="flex-shrink-0">
              {project.image ? (
                <img
                  class="w-[400px] rounded-lg shadow-md"
                  src={project.image}
                  alt={project.project_title}
                />
              ) : (
                <div class="w-[400px] h-[400px] bg-gray-200 rounded-lg" />
              )}
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
